@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
/* import를 사용하면 html 영역에 있는 link 태그가 필요 없어짐 */

@import "./fonts.css";
@import "./globals.css";

.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
